<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
</p>

<p>
    <%= form.submit value: "Save articles" %>
</p>
<%= link_to 'Back', articles_path %>
<% end %>