<p id="notice"><%= notice %></p>

<div>
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>
</div>

<br>
<hr>
<em>Comments Count: <%=  @article.comments.count %> </em>
<br>
<br>

<% @article.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <a href = "#"><%= comment.user_email %></a>
  <br>
  <br>
  <br>
<% end %>
</p>
<br>
<hr>

<p>LEAVE A COMMENT</p>  

<%= form_for([@article, @article.comments.build]) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :user_email %>
    </div>
    
    <div>
      <%= f.label :comment %>
      <%= f.text_area :content %>
      <%= f.submit value: "Save" %>
    </div>
<% end %>


  



<p><%= link_to "Back", root_path %></p>