<h1>Show Articles</h1>

<div>
    <h3><%= @article.title %></h3>
    <h4><%= @article.content %></h4>
</div>



<%= form_for([@article, @article.comments.build]) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :user_email %>
    </div>
    
    <div>
      <%= f.label :comment %>
      <%= f.text_area :content %>
      <%= f.submit value: "Save" %>
    </div>
    
    <% end %>

    <div>
<%=  @article.comments.count %>
</div>

<% @article.comments.each do |comment| %>
  <p>Content: <%= comment.content %></p>
<% end %>

<p><%= link_to "Back", root_path %></p>